{% extends "./base.html" %}
{% load static %}
{% block title %}
Aerogeodeziya.uz || DIREKTOR
{% endblock %}
{% block custom_css %}
{% endblock %}

{% block content %}
<!-- page title area start -->
<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <h4 class="page-title pull-left">Ko'rish</h4>
                <ul class="breadcrumbs pull-left">
                    <li><a href="{% url 'cindex'%}">Asosiy</a></li>
                    <li><span>Ko'rish</span></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 clearfix">
            <div class="user-profile pull-right">
                <img class="avatar user-thumb" src="{% static 'images/author/avatar.png'%}" alt="avatar">
                <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Korxona nomi<i class="fa fa-angle-down"></i></h4>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Message</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page title area end -->
<div class="main-content-inner">
    <div class="row">
        <!-- Input Sizes start -->
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Xizmat turi</h4>
                    <div class="d-flex">
                        <div class="dropdown w-100">
                            <button class="btn btn-light dropdown-toggle w-100" type="button" data-toggle="dropdown" disabled>
                                Hizmat turini tanlang
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Кафедра геодезии и топографии</a>
                                <a class="dropdown-item" href="#">Постоянно действующий филиал управления станциями ГНСС</a>
                                <a class="dropdown-item" href="#">Республиканская топонимическая служба</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Input Sizes end -->

        <!-- Input Sizes start -->
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Hujjat turi:   Shartnoma (DSQ)</h4>
                    <div class="d-flex">
                        <input class="form-control form-control-lg m-4" type="text" placeholder="*Nomi" disabled>
                        <input class="form-control form-control-lg m-4" type="text" placeholder="*Tuzish joyi" disabled>
                        <input class="form-control form-control-lg m-4" type="text" placeholder="*Tuzish sanasi" disabled>
                        <input class="form-control form-control-lg m-4" type="date" placeholder="*gacha amal qiladi" disabled>
                    </div>
                </div>
            </div>
        </div>
        <!-- Input Sizes end -->

        <!-- Input Sizes start -->
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="col-6">
                            <h4 class="header-title">Sizning ma'lumotlaringiz</h4>
                            <div>
                                <div>
                                    <input class="form-control form-control-lg my-4" type="text" placeholder="*STIR/JSHSHIR"  disabled>
                                    <input class="form-control form-control-lg" type="text" placeholder="*Nomi"  disabled>
                                </div>
                                <div class="d-flex">
                                    <input class="form-control form-control-lg my-4 mr-4" type="text" placeholder="*Jismoniy shaxs: JSHSHIR" disabled>
                                    <input class="form-control form-control-lg my-4" type="text" placeholder="*FISH" disabled>
                                </div>
                                <div class="d-flex">
                                    <input class="form-control form-control-lg mr-4" type="number" placeholder="*MFO" disabled>
                                    <input class="form-control form-control-lg " type="text" placeholder="*Bankning nomi" disabled>
                                </div>
                                <div class="d-flex">
                                    <input class="form-control form-control-lg my-4 mr-4" type="number" placeholder="*OKED" disabled>
                                    <input class="form-control form-control-lg my-4" type="number" placeholder="*Hisob raqami" disabled>
                                </div>
                                <input class="form-control form-control-lg" type="text" placeholder="*Manzil" disabled>
                                <div class="d-flex">
                                    <input class="form-control form-control-lg my-4 mr-4" type="number" placeholder="*Telefon" disabled>
                                    <input class="form-control form-control-lg my-4" type="number" placeholder="*Mobil telefon raqami" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <h4 class="header-title">Kongragent ma'lumotlari</h4>
                            <div>
                                <div>
                                    <input class="form-control form-control-lg my-4" type="text" placeholder="*STIR/JSHSHIR" disabled>
                                    <input class="form-control form-control-lg" type="text" placeholder="*Nomi" disabled>
                                </div>
                                <div class="d-flex">
                                    <input class="form-control form-control-lg my-4 mr-4" type="text" placeholder="*Jismoniy shaxs: JSHSHIR" disabled>
                                    <input class="form-control form-control-lg my-4" type="text" placeholder="*FISH" disabled>
                                </div>
                                <div class="d-flex">
                                    <input class="form-control form-control-lg mr-4" type="number" placeholder="*MFO" disabled>
                                    <input class="form-control form-control-lg " type="text" placeholder="*Bankning nomi" disabled>
                                </div>
                                <div class="d-flex">
                                    <input class="form-control form-control-lg my-4 mr-4" type="number" placeholder="*OKED" disabled>
                                    <input class="form-control form-control-lg my-4" type="number" placeholder="*Hisob raqami" disabled>
                                </div>
                                <input class="form-control form-control-lg" type="text" placeholder="*Manzil" disabled>
                                <div class="d-flex">
                                    <input class="form-control form-control-lg my-4 mr-4" type="number" placeholder="*Telefon" disabled>
                                    <input class="form-control form-control-lg my-4" type="number" placeholder="*Mobil telefon raqami" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Input Sizes end -->

        <!--INVOICE start-->
        <div class="main-content-inner w-100">
            <div class="row">
                <div class="col-lg-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="invoice-area">
                                <div class="invoice-head">
                                    <div class="row">
                                        <div class="iv-left col-6">

                                        </div>
                                        <div class="iv-right col-6 text-md-right">
                                            <span>#34445998</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="invoice-table table-responsive">
                                    <table class="table table-bordered table-hover text-right">
                                        <thead>
                                        <tr class="text-capitalize">
                                            <th class="text-center" style="width: 5%;">№</th>
                                            <th class="text-left">Nomi</th>
                                            <th>o'chov birligi</th>
                                            <th style="min-width: 100px">miqdori</th>
                                            <th>narxi</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-center">1</td>
                                            <td class="text-left">RTK - xizmati</td>
                                            <td>oy</td>
                                            <td>11</td>
                                            <td>511 560,98</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">2</td>
                                            <td class="text-left">RTK - xizmati</td>
                                            <td>oy</td>
                                            <td>11</td>
                                            <td>511 560,98</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">3</td>
                                            <td class="text-left">RTK - xizmati</td>
                                            <td>oy</td>
                                            <td>11</td>
                                            <td>511 560,98</td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="4">Jami:</td>
                                            <td>1 534 682,93</td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="invoice-buttonsa text-right">
                                <a href="#" class="btn btn-outline-primary m-1">Hujjatni ko'rsatish</a>
                                <a href="#" class="btn btn-outline-warning m-1">Saqlab qolish</a>
                                <a href="#" class="btn btn-outline-success m-1">Imzolash</a>
                                <a href="#" class="btn btn-outline-danger m-1">Bekor qilish</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--INVOICE end-->
    </div>
</div>
{% endblock %}

{% block custom_js %}

{% endblock %}
